.subContainer{
    width: 100%;
    @media (width >= 48rem){
         width: 715px;
         margin-left: 27px;
    }
}
.backArrow{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.11px;
    color: #2E3A59;
    gap: 2px;
    & .flecha{
        cursor: pointer;
    }
}
.linea{
    border: 1px solid #CDCDCD;
    margin-bottom: 20px;
}
.dateSubmitted{
    margin-top: 25px;
    width: 220px;
    margin-bottom: 20px;
    & span{
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
        color: #2E3A59;
        display: flex;
        gap: 5px;
        & p{
            color: #7C7C7C;
        }
    }
}
.fileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (width >= 48rem){
         width: 715px;
    }
    
    & .files{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #FFFFFF;
        align-items: center;
        padding: 0 16px;
        border-radius: 12px;
        & .file{
        display: flex;
        align-items: center;
        gap: 10px;
        height: 76px;
       
        & div{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        & .title{
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
        & .peso{
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #6C606C;
        }
    }
    }

    & .btnDownload{
        border: none;
        height: 44px;
        border-radius: 100%;
        padding: 12px;
        background-color: #F4F4F5;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        @media (width >= 48rem){
            width: 128px;
           padding: 12px 16px 12px 16px;
           border-radius: 12px;
        }
    }
}
.sendContainer{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap:1rem;
     @media (width >= 48rem){
         width: 460px;
    }
    & .btnSend{
        width: 220px;
        height: 44px;
        border-radius: 100px;
        border: 1px solid #E6E7EA; 
        padding: 10px 16px 10px 16px;
        background-color:#FFFFFF ;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        color: #2E3A59;
        cursor: pointer;
    }
    & .btnDownload2{
        width: 220px;
        height: 44px;
        border-radius: 100px;
        border: 1px solid ;
        padding: 10px 16px 10px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #2E3A59;
        color: #FEFEFE;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;
    }
}

.padre{
    display: flex;
    flex-direction: column;
    gap: 10px;
}