  .tableUserContainer{
    position: relative;
    padding: 0 25px;
    height: 504px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8.8px 0 #00000021;
    & .header{
        display: flex;
        justify-content: space-between;
        top: 26px;
        position: relative;
        width: auto;
        & p{
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0%;
            color: #2E3A59;
        }
        & .btnAddUser{
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            padding: 8px 16px 8px 16px;
            color: #FEFEFE;
            font-size: 14px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.4px;
            background-color: #2E3A59;
            cursor: pointer;
        }
    }
    & .tableUser{
        width: 100%;
        top: 56.5px;
        position: relative;
        
        & thead{
            text-align: left;
            font-weight: 700;
            font-size: 10px;
            line-height: 150%;
            letter-spacing: 0%;
            color: #2E3A59;
            margin-bottom: 10px;
            & th{
                padding-bottom: 10px; 
            }
        }
        & tbody{
            
            & .rowUser{
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0%;
                color: #2D3748;
                border-top: 1px solid #E2E8F0;
                & td{
                   padding-top: 10px;
                   padding-bottom: 10px;
                }
                & .authorContainer{
                    display: flex;
                    gap: 10px;
                }
                & .author{
                    color: #2D3748;
                    font-weight: 700;
                }
                & .email{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0%;
                    color: #718096;
                }
                & .tdSwich{
                    padding-left: 8px;
                    
                }
            }
        }
        & .rowEdit{
            text-align: end;
            color: #2E3A59;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0%;
           
            & button{
                cursor: pointer;
            }
        }
    }
}
/* Modicar ultima columna de tabla */
.tableUser td:nth-last-child(1) {
    width: 150px; 
}


/* Estilos del swich */
/* swicht */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Oculta el checkbox para que no se vea, pero siga funcionando */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border: 1px solid ;
  }
  
  /* El slider (la parte que se desliza) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1D1D6;
    transition: 0.4s;
    border-radius: 34px;
    width: 50px;
    height: 24px;
  }
  
  /* El círculo dentro del switch */
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: 0.4s;
  }
  
  /* Estilo cuando el switch está activado */
  input:checked + .slider {
    background-color: #B32646;
   
  }
  
  /* Mueve el círculo hacia la derecha cuando está activado */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  