
/* Modicar ultima columna de tabla */
.tableUser td:nth-last-child(1) {
    width: 150px; 
}


/* Estilos del swich */
/* swicht */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Oculta el checkbox para que no se vea, pero siga funcionando */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border: 1px solid ;
  }
  
  /* El slider (la parte que se desliza) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D1D1D6;
    transition: 0.4s;
    border-radius: 34px;
    width: 50px;
    height: 25px;
  }
  
  /* El círculo dentro del switch */
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: 0.4s;
  }
  
  /* Estilo cuando el switch está activado */
  input:checked + .slider {
    background-color: #B32646;
   
  }
  
  /* Mueve el círculo hacia la derecha cuando está activado */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  